:root{
    --primary-color: #FF9614;
    --secondary-color: #FFF;
}

/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generics */
a {
    text-decoration: none;
}

body {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}

h1 {
    color: var(--primary-color);
    font-family: "Nerko One", cursive;
    font-size: 50px;
    line-height: 50px;
    padding: 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #555;
    text-transform: uppercase;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* Utilities */
.wrapper {
    margin: 0 auto;
    max-width: 1000px;
}

/* Layout */